<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >
    <h:head>
        <title>#{appBean.titleApp}</title>
    </h:head>
    <h:body>
        <ui:include src="jsf/pageDecorations/header.xhtml"/>
        <p:panelGrid id="panelExpedient" style="width:100%; font-size: 1.1em; margin-top: -11px;" columns="1" layout="grid" >

            <p:panelGrid style="width:100%;" columns="1" layout="grid" styleClass="ui-panelgrid-blank ui-fluid">

                <p:panel header="Dades personals" style="text-align:center; border:0; width:60%; margin:0 auto; ">                    
                    <p:panelGrid style="text-align: left; width: 100%; " styleClass="ui-panelgrid-blank ui-fluid">                   
                        <p:row>
                            <p:column><p:outputLabel value="Nom: " /></p:column>
                            <p:column><p:inputText readonly="true" id="nom" value="#{clientBean.client.givenName}" style="width:100%;" /></p:column>
                            <p:column><p:outputLabel value="#{clientBean.client.docType}" /></p:column>
                            <p:column><p:inputText readonly="true" id="docType" value="#{clientBean.client.docNum}" style="width:100%;" /></p:column>  
                        </p:row>

                        <p:row>
                            <p:column><p:outputLabel value="Email: "  /></p:column>
                            <p:column colspan="3"><p:inputText readonly="true" id="email" value="#{clientBean.client.email}" style="width:100%;" /></p:column>                            
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="Familia: " /></p:column>
                            <p:column><p:inputText readonly="true" id="familia" value="#{clientBean.client.familyName1}" style="width:100%;" /></p:column>   
                            <p:column><p:outputLabel value="Mòbil: " /></p:column>
                            <p:column><p:inputText readonly="true" id="mobil" value="#{clientBean.client.phone}" style="width:100%;" /></p:column>    
                        </p:row>
                        
                    </p:panelGrid>                    
                </p:panel>               

            </p:panelGrid>           
        </p:panelGrid>

        <p:tabView id="tabs" widgetVar="tabs" scrollable="true" style="font-size:0.67em" cache="true" styleClass="dialogTabs">
            <p:ajax event="tabChange" listener="#{clientBean.onTabChange}" update=""/>

            <p:tab id="tabProductesContractats" title="Productes contractats" >
                <ui:include src="/jsf/tabs/productes.xhtml" />
            </p:tab>
        </p:tabView>

    </h:body>
</html>

