<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <p:outputLabel value="#{appBean.titleApp}" />
    <p:separator/>
    <h:form>
        <p:menubar style="margin-bottom: 10px">
            <p:menuitem value="Escritori" url="faces/index.xhtml" />
            <p:submenu label="Factures" icon="pi pi-file">
                <p:menuitem value="Fibra + Mòbil" url="faces/index.xhtml"/>
                <p:menuitem value="Mòbil" url="faces/index.xhtml"/>
                <p:menuitem value="Fibra + Fix" url="faces/index.xhtml"/>
                <p:menuitem value="TV" url="faces/index.xhtml"/>
                <p:menuitem value="Energia" url="faces/index.xhtml"/>
            </p:submenu>
            <p:submenu label="#{clientBean.client.givenName}" icon="pi pi-file">               
                <p:menuitem value="Sortir"/>
            </p:submenu>          
        </p:menubar>     
    </h:form>    
    <p:separator/>
</html>

